<div class="container">
    <div class="row">
        <div class="col align-self-start">
          Hakkımda
        </div>
        <div class="col align-self-center">
         Çalışmalarım
        </div>
        <div class="col align-self-end">
          İletişim
        </div>
    </div>
</div>